.home{
  display: flex;
  width: 100%;
}

.body{
  background-color: #F4F5F9;
  width: 78%;
}

#dark .body{
  background-color: #191919;
  color: #ffffff;
}


#dark{
  background-color: #000000;
}

.header{
  margin-left: 20px;
  p{
    font-size: 1.3em;
    font-weight: 100;
  }

  h3{
    font-size: 2em;
    font-weight: 400;
  }
}

.summary{
  background-color: #ffffff;
  margin: 40px;
  width: 80%;
  height: 23vh;
  border-radius: 20px;
}

.custom-select select{
  background-color: #F4F5F9;
  border: none;
  margin-top: 20px;
  width: 70px;
  height: 35px;
  font-weight: 350;
}


  #dark .custom-select select{
    background-color: #191919;
      color: #ffffff;
  }

   #dark .custom-select select option{
    background-color: #191919;
      color: #ffffff;
  }

.custom-select select option{
  background-color: #ffffff;
  border: none;
  margin-bottom: 300px;
  gap: 300px;
}

.custom-select select option:hover{
  background-color: #F4F5F9;
}

/* .summary h5{
  left: 320px;
  width: 8px;
  bottom: 73%;
  height: 2%;
  display: block;
  position: absolute;
  transform: translateX(-50%);
  background: #F2611F;
  border-radius: 30px;
} */

.summary .account{
  display: flex;
  justify-content: space-between;
  margin: 10px;

  h3{
  color: #105FFB !important;
    /* position: relative; */
    font-size: 18px;
    font-weight: 400;
    margin-left: 15px;
  }
}

.IncExp{
  display: flex;
}

.IncExp .income{
  width: 47%;
  background-color: rgb(235, 249, 253);
  margin: 10px;
  height: 11vh;
  border-radius: 20px;

  p{
    margin-left: 30px;
  }

  h3{
    margin-left: 30px;
  }
}


#dark .IncExp .income{
  background-color: #191919;
    color: #ffffff;
}

.IncExp .expenses {
    width: 50%;
      background-color: rgb(241, 239, 255);
      margin: 10px;
      height: 11vh;
      border-radius: 20px;
    
      p {
        margin-left: 30px;
      }
    
      h3 {
        margin-left: 30px;
      }
}

#dark .IncExp .expenses {
  background-color: #191919;
  color: #ffffff;
}

.airtime{
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 40px;
  width: 76%;
  height: 5vh;
  border-radius: 20px;
  padding: 30px;
}

#dark .airtime{
  background-color: #000000;
  color: #ffffff;
}

.airtime .logos{
  gap: 20px;
}

.airtime .logos img{
  width: 16%;
  height: 50px;
  /* border: 1px solid black; */
  border-radius: 50%;
  margin-right: 10px;
}

.airtime .text{
  gap: 10px;
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}

.airtime .text p{
  width: 100%;
  border: 1px dashed #011B60;
  height: 25px;
  padding: 5px;
  white-space: nowrap;
  border-radius: 2px;
  cursor: pointer;
}

#dark .airtime .text p{
  border: 1px dashed #ffffff;
}

.transactions{
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 40px;
  width: 76%;
  height: 5vh;
  border-radius: 20px;
  padding: 20px;
}

#dark .transactions{
  background-color: #000000;
  color: #ffffff;
}

.transactions h3{
  color: #105FFB !important;
  /* position: relative; */
  font-size: 18px;
  font-weight: 400;
  margin-left: 15px;
}

/* .transactions h5{
  left: 335px;
  width: 8px;
  bottom: 23%;
  height: 2%;
  display: block;
  position: absolute;
  transform: translateX(-50%);
  background: #F2611F;
  border-radius: 30px;
} */

.transactions p{
  text-decoration: underline;
}

.right{
    top: 0;
    right: 0;
    width: 180px;
    height: 100%;
    z-index: 0;
    position: absolute;
    background-color: #0850D4;
}

#dark .right{
  background-color: #FD6820;
}

.right .brightness img{
  width: 13%;
}

.right .brightness{
  display: flex;
  margin: 20px;
  gap: 20px;
}

.wallet{
  background-color: #ffffff;
  position: relative;
  right: 85px;
  top: 40px;
  width: 13.5vw;
  height: 28vh;
  padding: 10px;
  border-radius: 10px;

  p{
    font-size: .7em;
  }
}

#dark .wallet{
  background-color: #000;
  color: #fff;
}

.wallet #button3{
  border: none;
  font-size: .9em;
  background-color: #fff;
  color: #FF6900;
  text-decoration: underline;
  cursor: pointer;
}

#dark .wallet #button3{
  background-color: #000;
}

.wallet .btn1{
  display: flex;
  justify-content: space-between;
  background-color: #F4F5F9;
  padding: 10px;
}

#dark .wallet .btn1{
  background-color: #191919;
}

.wallet .btn1 #button1{
  border: none;
  background-color: #fff;
  color: #000;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: .8em;
  cursor: pointer;
}

#dark .wallet .btn1 #button1{
  background-color: #000;
  color: #fff;
}

.wallet .btn1 #button2{
  border: none;
  font-size: .8em;
  background-color: #F4F5F9;
  cursor: pointer;
}

#dark .wallet .btn1 #button2{
  background-color: #191919;
  color: #fff;
}

.wallet .btn2{
  display: flex;
  justify-content: space-between;
}

.wallet .btn2 #button1{
  border: none;
  background-color: #105FFB;
  color: #fff;
  padding: 1px 15px;
  border-radius: 5px;
  margin-top: 1px;
  font-size: .6em;
  cursor: pointer;
}

.wallet .btn2 #button2{
  border: 1px dashed;
  background-color: #fff;
  font-size: .6em;
  margin-top: 1px;
  padding: 10px 30px;
  cursor: pointer;
}

#dark .wallet .btn2 #button2{
  background-color: #000;
  color: #fff;
}

.slideImg{
  display: flex;
  align-items: center;
  width: 14.5vw;
  height: 48vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  position: relative;
  right:85px;
}

.slideImg img{
  /* width: 100%; */
  /* position: relative;
   right: 8px; */
  /* top: 100px; */
  scroll-snap-align: start;
  /* min-width: 100%; */
  border-radius: 0.2em;
  width: 100%;
}

.prev, .next{
  width: 2em;
  height: 2em;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.25s;
}

.prev:hover, .next:hover{ transform: scale(1.2s);}

::-webkit-scrollbar{
  display: none;
}


